.home {
    padding-top: 175px;
    padding-bottom: 175px;
    min-height: 895px;
    position: relative;
}

.home-contant {
max-width: 440px;
}

.home-heading {
color: #01996D;
font-family: 'Georgia',serif;
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 74px;
margin-bottom: 30px;
}

.home-text {
color: #484848;
line-height: 144.5%;
margin-bottom: 53px;
max-width: 430px;
}

.home-bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width: 992px){
    .home-bg-img img {
        opacity: 0.5;
    }
    .home {
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: unset;
        
    }
    .home-heading {
        font-size: 45px;
        line-height: 1.2;
    }
    .home-text {
        margin-bottom: 20px;
        
        }
}